<div class="nav h-3 w-full">
	<div class="nav-one flex py-5">
		<div class="logo ml-10">
				<!--<h1 class="text-light-grey">Logo here</h1>-->
				<img class="w-8 h-8" src="{{ nav.navBar.logo }}" alt="logo">
		</div>

		<div class="nav-items ml-4 flex justify-around w-2/5">
			<a class="text-light-grey" href="#features">{{ nav.navBar.navItemone }}</a>
			<a class="text-light-grey" href="#about">{{ nav.navBar.navItemtwo }}</a>
			<a class="text-light-grey" href="#contact">{{ nav.navBar.navItemthree }}</a>
		</div>

	</div>
</div>
