/* You can add global styles to this file, and also import other style files */

@tailwind base;

@tailwind components;

@tailwind utilities;

/* .theme-light{
	--bg-background-primary:white;
	--bg-background-secondary:'#c9e8dd';
	--bg-background-ternary:black;
}

.theme-dark {
	--bg-background-primary:'#1f1f2e';
	--bg-background-secondary:'#b3b3cc';
	--bg-background-ternary:black;
} */


* {
	font-family: 'Lato', sans-serif;
}
